<link rel="stylesheet" href="/styles/content.css">

<h1>About Navin my 💞!</h1>
 


<img class="profile" src="images/couple.jpg" >  
<p>
  He is my heart. He is my Love. So how can I live without him. I have no answer of it. But I know or I have faith that oneday everything will be fine; just I have to little bit more! Yeah I will yes I surely do that. It's all about my life's progress, so how can I erase him. It's totally impossible task for to forget him rather than being grateful towards him. I am so much grateful towards him . He made me a a perfect human being having amazing virtues ; these are Honesty,Kindness,Trust,Care and Respect. He showed the light in my path when I was lost and worthless or underneath. Yes nowdays I miss him a lot because he was my protection shield or my innner strength. Okay now it will be very good if I give hime a big space from me in this birth just for his betterment or prosperity. Actually I have to do this if I really love him or truely love him. No issue , because next birth will bring this all remaining happiness; that I deserved in my present life. But he is a benign person having kind soul; I wish God will surely help him in his upcoming future's all aspects of his life. Because this world need a human like him. I forgot about his introduction i.e he is a mechanical enginner and also an amazing author and an outstanding writer!!! who has good thoughts to protect this world from unhappiness. There have so many things to say about him ...okay byeee...</p>